service:
  name: alloraservice
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs10.x
  region: eu-central-1

  apiKeys:
    - name: spendenlike-allora
      value: ${ssm:/alloraCMS/spendenlike/API_KEY}

  environment:
    JSON_BUCKET: dev.spendenlike.de/static
    JSON_FILE: cms.json
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cloudwatch:*
        - logs:*
        - "s3:ListBucket"
        - "s3:PutObject"
        - "ssm:GetParameters"
      Resource:
        - "*"

package:
  individually: false
  excludeDevDependencies: true

custom:
  webpack:
    webpackConfig: "webpack.config.js" # Name of webpack configuration file
    packager: "npm" # Packager that will be used to package your external modules

functions:
  getInfo:
    handler: handler.getInfo
    events:
      - http:
          method: get
          path: info
          cors: true
          private: true

  postInfo:
    handler: handler.postInfo
    events:
      - http:
          method: post
          path: info
          cors: true
          private: true
  
  auth:
    handler: handler.auth
    events:
      - http:
          method: post
          path: auth
          cors: true