<!-- Toolbar -->
<nav class="navbar navbar-expand-lg bg-primary text-light" *ngIf="data">
  <img width="50" alt="Project Logo" src="../assets/logo.png" />
  <a class="navbar-brand" style="color:white; margin-left: 1rem" href="#">{{data.name}}</a>

  <ul class="nav navbar-nav ml-auto">
    <span class="navbar-text" (click)="logout()">
      Logout
    </span>
  </ul>
</nav>


<!--div class="card-container">
    <div class="card">
      <div *ngFor="let element of objectKeys(data); let index = index">
        <h4>{{element}}</h4>
        <input class="input-element" [(ngModel)]="data[index]">
      </div>
    </div>
  </div-->
<div class="container" style="margin-top: 2rem" *ngIf="data">
  <div class="card">
    <div class="card-body">
      <h3>Information</h3>
      <hr>
      Author: <b>{{data.author}}</b><br>
      Last Edit: <b>{{data.last_update | date: "dd.MM.yyyy HH:mm"}}</b><br>
      Description: <b>{{data.description}}</b><br>
      Version: <span class="badge badge-primary">{{data.version}}</span>
      <br>
      <br><br>
      <h3>Content</h3>
      <button type="button" style="float: right; margin-top: -3rem;" class="btn btn-primary" (click)="publish()">Save &
        Publish</button>
      <hr>
      <div>
        <div class="form-group" *ngFor="let element of objectKeys">
          <label>{{element}}</label>
          <textarea class="form-control" [attr.rows]="getRowNumber(data.data[element])"
            [attr.placeholder]="'Enter ' + element" [(ngModel)]="data.data[element]"></textarea>
        </div>
      </div>
      <button type="button" style="float: right;" class="btn btn-primary" (click)="publish()">Save & Publish</button>
    </div>
  </div>
</div><br><br>

<router-outlet></router-outlet>